- var getRandomNumber = function (min, max) {
- 		return Math.round(Math.random() * (max - min) + min);
- };

- var w = 200
- var h = 100
- var minPoints = 5
- var maxPoints = 8

- var createLinePath = function () {
- 	var pointsAmount = getRandomNumber(minPoints, maxPoints);
- 	var points = [];


- 	for(var i = 0; i < pointsAmount; i++){
- 	var point = {};
- 	var currentX;

case i
	when 0
		- point.x = getRandomNumber(0, 10);
		- point.y = getRandomNumber(0, h);
	when pointsAmount - 1
		- point.x = w;
		- point.y = getRandomNumber(0, h);
	default
		- point.x = currentX = getRandomNumber(currentX || 10, w-20);
		- point.y = getRandomNumber(0, h);


		// - switch (i) {
		// 	- 	case 0:
		// 	- 		point.x = getRandomNumber(0, 10);
		// 	- 		point.y = getRandomNumber(0, h);
		// 	- 	break;
		// 	- 	case (pointsAmount - 1):
		// 	- 		point.x = w;
		// 	- 		point.y = getRandomNumber(0, h);
		// 	- 	break;
		// 	- 	default:
		// 	- 		point.x = currentX = getRandomNumber(currentX || 10, w-20);
		// 	- 		point.y = getRandomNumber(0, h);
		// 	- 	break;
		// - }

- 		points.push(point);
- 	};

- return(points);
- };

-var linePath = createLinePath();

p #{linePath[0].x}
p #{linePath[1].x}
p #{linePath[2].x}
p #{linePath[3].x}
p #{linePath[4].x}
p #{linePath[5].x}