#bio_list.bio-list
	ul
		li
			span.bio-list_name=bio_list[0].name
			span.bio-list_value=getRandomNumber(40, 100)
		li
			span.bio-list_name=bio_list[1].name
			span.bio-list_value=getRandomNumber(40, 100)
		li
			span.bio-list_name=bio_list[2].name
			span.bio-list_value=getRandomNumber(40, 100)